@model EducationApp.DataAccessLayer.Entities.Autors
@{
    ViewBag.Title = "Авторы";
}
<form asp-action="Create" asp-controller="values">
    <div class="form-group">
        <label asp-for="Id" class="control-label">Айди</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Company" class="form-control" />
    </div>
</form>@{
    Layout = "_Layout";

}
