@model IEnumerable<EducationApp.DataAccessLayer.Entities.Autors>
@{
    ViewBag.Title = "Авторы";
}
<a asp-action="Create">Добавить </a>
<table class="table">
    <tr><td>Айди)</td><td>Имя</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td><td>@item.Name</td></tr>
    }
</table>
